<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"></meta>
    <title>uWish - Start</title>
    <link rel="stylesheet" th:href="'/style.css'" href="../static/style.css">
</head>
<body>
<h2>Welcome to</h2>
<h1>uWish</h1>

<!-- Navigate to Login -->
<div>
    <a href="/uwish/login">Login</a>
</div>

<!-- Navigate to Sign Up. Signup doesn't work yet -->
<div>
    <a href="/uwish/signup">Sign Up</a>
</div>

</body>
</html>