<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"></meta>
    <title>uWish - Wish</title>
    <link rel="stylesheet" th:href="'/style.css'" href="../static/style.css">
</head>
<body>
<a href="/uwish/wishlist">Home</a>

<h1>uWish</h1>
<h2 th:text="${wish.getName}"></h2>

<table>
    <tr>
        <th></th>
        <th th:text="${wish.getDescription}"></th>
    </tr>
    <tr>
        <th></th>
        <th th:text="${wish.getPrice} + '0 DKK'"></th>
    </tr>
    <tr>
        <th></th>
        <th><a th:href="${wish.link}">Buy here</a></th>
    </tr>
    <!--<tr>
        <th></th>
        <th th:text="${wish.getImg}"></th>
    </tr>-->
</table>

<div>
    <p><a th:href="'/uwish/editwish/' + ${wish.getId}">Edit</a></p>
</div>
<div>
    <p><a th:href="'/uwish/deletewish/' + ${wish.getId}">Delete</a></p>
</div>
<div>
    <p><a th:href="'/uwish/wishlist?page=' + ${page}">Back to wishlist</a></p>
</div>

</body>
</html>